/* BUTTONS */

.buttons{
	position:relative;	
	display:inline-block;
}

.buttons a, .buttons button{
	position:relative;
    display:block;
    float:left;
    margin:0 0 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:100%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons span{
	margin: 0 0 0 3px;	
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img, .ui-button img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

.ui-button
{
	padding: 5px 10px;
	font-size: 80%;
}

/* TEXT SELECTION DISABLING */
.buttons, .ui-button
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* SHADOW */
.buttons
{
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	margin-bottom:3px;
	margin-right:3px;
}

.buttons:active{
	-moz-box-shadow: 1px 1px 4px #000; 
	-webkit-box-shadow: 1px 1px 4px #000;
	box-shadow: 1px 1px 4px #000; 
	margin-top: 2px;
	margin-left: 2px;
	margin-bottom: 1px;
	margin-right:1px;
}

/* STANDARD */

.buttons button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* NEUTRAL */

.buttons a.neutral, button.neutral{
    color: #EEC900;
}
.buttons a.neutral:hover, button.neutral:hover{
    background: #FFFCCF;
    border:1px solid #E3CF57;
    color:#EEC900;
}
.buttons a.neutral:active{
    background-color:#EEC900;
    border:1px solid #EEC900;
    color:#fff;
}

/* styling the buttons the way I want */
.buttons
{
	font-size: 10pt;
}
